* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
  }
  
  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

  header {
    height: 65px;
    width: 100%;
    background-color:#2A3A48;
    position :fixed;
    top: 0;
    z-index: 10;
    color:white;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 10px;

  }
  
  .toReserve{
    width: 100%;
    height: 203px;
    margin: 65px auto 0;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    padding-top:20px;
    letter-spacing: 10px;

  }

  .toReserve a{
    color:#F4BB7A;
    text-decoration: none;
  }

  .toTop{
    width: 100%;
    background-color:#A2B8EF;
    height: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    margin: 0 auto;
    padding-top:35px;
    letter-spacing: 10px;
  }

  .toTop a{
    color:white;
    text-decoration: none;
  }

  .toReserve2{
    width: 100%;
    height: 203px;
    margin: 65px auto;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    padding-top:20px;
    letter-spacing: 10px;

  }

  .toReserve2 a{
    color:#F4BB7A;
    text-decoration: none;
  }

  img{
    margin:50px 10px 0;
    height:100px;
    width:100px;
  }

  table{
    align-content: center;
    margin: 50px auto;
  }

  table, td, th {
    border: 2px #F4BB7A solid;
    font-size: 30px;

    }
